html {
    background-color: #5dc5d1;
}
body {
    background-color: #5dc5d1;
}

img {
    /*margin-top: 3em;
    margin-bottom: .5em;*/
    margin: 1em;
    margin-left: auto;
    margin-right: auto;
    min-width: 20em;
    max-width: 100%;
}
    
ul {
    margin: 1em;
}

div.card {
    margin: 2em;
}

.header {
    /*background-color: #e0e0e0; */
    /*background-color: #d6adff;*/
    background-color: rgba(210, 210, 210, 0.85);
}

.container {
    max-width: 90%;
}
.tab {
    margin-left: 2em;
}

#sidebar {
    padding: 1%; 
    margin-right: 2em; 
    margin-left: 1em; 

}


#body {
    border-bottom-left-radius: .5em;
    border-bottom-right-radius: .5em; 
    margin-bottom: 2em; 
    padding-top: 2em;
    padding-bottom: 2em; 
    background-color: rgba(255, 255, 255, 0.75);
    box-shadow: 0 4px 6px 0 rgba(0,0,0,0.16),0 4px 10px 0 rgba(0,0,0,0.12);
}


#me {
   margin: 2em; 
}

#color-changer {
    margin-bottom: 2em;
}
